/* Lager en root for repetativ fargebruk */
:root {
  --primary: #dac0ed;
  --secondary: #f1e1fc;
  --activity: #022c63e6;
}

/* Setter margin 0 på body og bestemmer font */
body {
  margin: 0px;
  font-family: sans-serif;
}

/* Mellomrom mellom liste-elementer */
ul li {
  margin-bottom: 10px;
}

/*Header*/

header {
  background-color: var(--primary); /* Setter bakgrunnsfarge på header */
  position: sticky; /* Gjør sånn at header blir med ned når man scroller */
  top: 0; /* Angir at headeren skal festes helt øverst i vinduet ved scrolling */
}

/* Generell styling på hoved-overskriftene*/
h1 {
  margin-top: 0;
  padding-bottom: 2rem;
  text-align: center;
}

/* Generell styling på navbaren */
.navbar {
  display: flex;
  justify-content: space-between; /* Plasserer logoen til venstre og lenkene til høyre */
  align-items: center; /* Vertikal sentrering av logoen og lenkene */
  padding: 0.5rem 1rem 0 1rem;
}

.logo img {
  height: 40px; /* Juster høyden på logoen */
  width: auto; /* Behold bildeproporsjonene */
  transition: transform 0.3s; /* Glattere overgang */
}

.logo img:hover {
  transform: scale(1.1); /* Øker logoens størrelse ved hover */
}

.navbar ul {
  list-style-type: none; /* Fjerner punktene */
  padding: 0px; /* Fjerner padding */
  margin: 0px; /* Fjerner margin */
  display: flex; /* Setter lenkene på en rad */
  gap: 20px; /* Avstand mellom lenkene */
}

.navbar li {
  display: inline-block; /* Gjør elementene i listen horisontale i navigasjonsbaren */
}

/* Lenker i navbar */
.navbar a {
  color: #000000;
  text-decoration: none; /* Fjerner underline */
  padding: 10px;
  display: block; /* Gjør hele området klikkbart */
  text-align: center;
}

.navbar a:hover, .a-active {
  background-color: var(
    --secondary /* Gjør bakgrunnsfargen lysere når musen peker der, og markerer siden man er inne på i menyen */
  );
}

/* Lenker i navbar til acticity gjøres hvit*/
.navbar-activity a {
  color: #ffffff;
}

/* Styling ved hover i navbar på activity-siden */
.navbar-activity a:hover {
  font-weight: 1000;
  background-color: initial; /* Tilbakestiller bakgrunnsfarge ved hover */
  transition: all; /* Gir jevn overgang */
}

/*Burgermeny*/

#menu-toggle {
  display: none; /* Skjuler checkbox*/
}

.burger-menu {
  display: none; /* Skjuler burger-menyen */
  flex-direction: column; /* Legger span-elementer vertikalt */
}

/* Stil for hvert element i hamburger-menyen */
.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px; /* Lager litt mellomrom mellom dem */
  background-color: #000000;
  transition: 0.3s; /* Jevn overgang */
}

.burger-menu-activity {
  display: none; /* Skjuler burger-menyen */
  flex-direction: column; /* Legger spans vertikalt */
}

.burger-menu-activity span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px; /* Lager litt mellomrom mellom dem */
  background-color: #ffffff;
  transition: 0.3s;
}

/* Hovedinnhold */
/* index.html */

/* Grid-container for å lage layout og strukturere innholdet */
/* Første og fjerde kolonner er marger (1fr), andre og tredje har innhold, fyller minst 30% og kan utvide seg */
.container {
  display: grid;
  grid-template-rows: minmax(300px, auto);
  grid-template-columns: 1fr minmax(40%, 1fr) minmax(40%, 1fr) 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.container section {
  padding: 1rem; /* Padding i seksjonene */
}

.column-1 {
  grid-column: 2; /* Plasserer første kolonne i andre grid-kolonne for å midtstille */
  padding: 20px;
}

.column-2 {
  grid-column: 3; /* Plasserer andre kolonne i tredje grid-kolonne for å midtstille */
  padding: 20px;
}

/* Justerer linjeavstand for bedre lesbarhet */
p {
  line-height: 1.5;
}

/* Lenker i hovedinnholdet */
.container a:link,
.github-body a:link {
  color: black;
  text-decoration: underline;
  text-decoration-color: #bc8ee0;
  text-underline-offset: 3px; /* Øker avstanden mellom tekst og strek */
  font-family: sans-serif;
}

/* Besøkt lenke markeres med mørkere farge */
.container a:visited,
.github-body a:visited {
  color: #4d1b74;
}

/* Musepeker over link*/
.container a:hover,
.github-body a:hover {
  color: #8046ad;
}

/* Aktiv link */
.container a:active,
.github-body a:active {
  color: black;
}

/* Skillelinje for å dele opp og strukturere innholdet */
.horizontal-line {
  grid-column: 2 / span 2;
  width: 100%;
  height: 0.1px;
  background-color: rgb(203, 203, 203);
  margin: 0;
  padding: 0.7px;
}

/* Mindre skillelinje for indre kolonner*/
.small-divider {
  grid-column: 2 / span 2;
  width: 100%;
  height: 0.1px;
  background-color: rgb(203, 203, 203);
  margin: 3% 0;
}

/* Seksjoner som skal ha full bredde og ta opp begge kolonner i stedet for én */
.full-width {
  grid-column: 2 / span 2; /* Strekker seg over både kolonne 2 og 3 */
}

/* Beholder for indre kolonner i seksjoner med full bredde */
.inner-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

/* Indre kolonner */
.column {
  flex: 1; /* Hver kolonne opptar like mye plass */
  padding: 2rem;
}

.column-history {
  padding: 0 !important; /* Fjerner all padding */
  margin: 2rem 0; /* Setter margin til 0 på sidene */
  width: 100%; /* Elementet fyller hele bredden */
}

/* Kantlinje rundt bokser med spesialiseringene */
#spesialiseringer .column {
  border: 2px solid #dac0ed;
}

/* Standard klasse for en liste uten kulepunkter og innrykk */
.nobullet-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.5;
}

/* Fakta om studiet */
#facts li {
  padding-top: 1rem;
  font-size: 1rem;
  font-family: sans-serif;
}

/* Ikoner foran fakta om studiet */
#facts img {
  max-width: 10%;
}

/* Styling av tabell med studiets oppbygning */
.table-container {
  width: 100%;
  overflow-x: scroll; /* Tillatter horisontal scrolling, for å skalere når skjermen er liten */
  -webkit-overflow-scrolling: touch; /* For mer naturlig rulling på berøringsskjermer */
}

table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse; /* Slår sammen kanter i tabellen så de ikke er doble */
  margin-bottom: 4%;
}

th,
td {
  border: 1px solid #aeaeae; /* Ramme for celler */
  padding: 1rem;
  text-align: left;
}

th {
  background-color: var(--primary); /* Farge på tabellheader */
}

/* Kort for studenthistorier */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  /* Gjør kortet til en kolonne */
  background-color: #f2e5fb;
  padding-top: 1rem;
}

/* Justerer overskrift og tekst i kortene */
.card h3,
.card p {
  padding: 0 1.5rem 0 1.5rem;
  height: 45px;
}

/* Justerer bildene i kortene og plasserer de nederst */
.card img {
  margin-top: 4rem;
  width: 100%;
  align-self: flex-end;
}

/* accessibility.html */
/* Justerer bildene på siden */
.img-accessibility {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-accessibility img {
  width: 85%;
  height: auto;
}

/* github.html */
.github-body {
  margin: 4rem 5rem;
}

.flex-container img {
  width: 40%;
  object-fit: contain;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) !important;
  margin: 0 2rem;
}

.vertical-line {
  background-color: rgb(203, 203, 203);
  width: 2px;
  margin: 0 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.github-text-box {
  width: 600px;
  padding: 2rem 4rem;
}

.github-text-box-cont {
  width: 600px;
  margin: 4rem auto !important;
}

.github-img-box {
  display: flex;
  justify-content: center;
}

.github-img {
  width: 40%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) !important;
  margin: 0rem;
}

/*  activity.html */
/* Legger til bakgrunnsbilde for hver av seksjonene */
.sectionTop {
  background-image: url("../img/activity/forside.jpg");
  /* Av Vasily Koloda fra https://unsplash.com/photos/group-of-fresh-graduates-students-throwing-their-academic-hat-in-the-air-8CqDvPuo_kI */
}

.section1 {
  background-image: url("../img/activity/gaming.jpg");
  /* Av Fábio Magalhães fra https://unsplash.com/photos/a-computer-screen-with-a-video-game-on-it-nmTm7knUnqs */
}

.section2 {
  background-image: url("../img/activity/lacrosse.jpg");
  /* Av Jeffrey F Lin fra https://unsplash.com/photos/girls-playing-lacrosse-game-ghbW5qujVdU */
}

.section3 {
  background-image: url("../img/activity/sjakk.jpg");
  /* Av GR Stocks fra https://unsplash.com/photos/grayscale-photo-of-person-holding-glass-Iq9SaJezkOE */
}

.section4 {
  background-image: url("../img/activity/robotikk.jpg");
  /* Av Dominik Scythe fra https://unsplash.com/photos/selective-photo-of-a-cars-character-toy-Sot0f3hQQ4Y */
}

.img-activity {
  width: 100%;
}

.main-activity {
  margin: 0 10%;
}

.sectionTop,
.section1,
.section2,
.section3,
.section4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.activity-body > main {
  /* Setter verdier for main i activity-siden */
  margin-top: 4.4rem;
  /* For å gi plass til navbaren */
  overflow-y: scroll;
  /*scrolling vertikalt*/
  scroll-snap-type: y mandatory;
  /*snapping kun vertikalt*/
  height: 100vh;
  /*fullskjerm/hele visningsområdet*/
}

.activity-body {
  overflow: hidden;
}

.header-activity {
  position: fixed;
  /* For å holde navbaren på toppen */
  top: 0;
  width: 100%;
  z-index: 10;
  /* Sørger for at navbaren alltid er over innholdet */
  background-color: var(--activity);
  color: white;
}

.activity-article > section {
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Sentraliserer vertikalt */
  align-items: center;
  /* Sentraliserer horisontalt */
  scroll-snap-align: start;
}

.activity-article h1,
.activity-article p {
  color: white;
  border-radius: 1rem;
  text-align: center;
  max-width: 80vw;
  /* Begrenser bredden på boksene */
  margin: 0 auto;
  /* Sentraliserer boksene */
}

.activity-box {
  background-color: var(--activity);
  border-radius: 1rem;
  text-align: center;
  max-width: 80vw;
  /* Begrenser bredden på boksene */
  margin: 0 auto;
  /* Sentraliserer boksene */
  color: white;
  padding: 1rem;
}

.activity-article h1 {
  font-size: 4rem;
  /* Styling av h1 på topical-siden */
}

.activity-article h2 {
  margin-top: 0;
}

.activity-article p {
  max-width: 60vw;
  font-size: 1.1rem;
  padding: 0 2rem 1rem 2rem;
  /* Styling av p på topicalsiden */
}

.activity-box a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  transition: all 0.3s;
}

.activity-box a:hover {
  color: rgb(205, 96, 57);
  font-weight: 600;
}

.activity-box button {
  border: none;
  color: black;
  padding: 0.5rem;
  background-color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.activity-box button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Footer */
/* Generell styling av footer */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 60px;
  margin-top: 2%;
}

.footer-logo-section {
  flex: 1; /* Lar seksjonen ta opp lik plass i flex-containeren */
  text-align: left; /* Plasserer logoen til venstre i footer */
}

.footer-logo {
  height: 100px; /* Juster høyden på logoen */
  width: auto; /* Beholder bildeproporsjonene */
}

.footer-address-section {
  flex: 1;
  text-align: center; /* Plasserer adressen i midten i footer */
}

/* Redigerer tekst-adressen */
.footer-address-text {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.footer-social-contact-section {
  flex: 1;
  text-align: right; /* Plasserer sosiale medier og kontakt til høyre i footer */
}

.footer-social-media {
  margin-bottom: 5px; /* Avstand under seksjonen for sosial media */
}

.footer-social-media a:not(:last-child) {
  margin-right: 10px; /* Lager mellomrom mellom sosiale medier ikonene */
}

/* Justerer størrelsene på ikonene */
.social-media-logo {
  width: 30px;
  height: auto;
}

.footer-contact-info {
  margin-top: 10px; /* Legger til avstand over seksjonen for kontaktinfo */
  font-size: 14px;
}

.flex-box {
  width: 40%; /* Setter bredden til 40% av det tilgjengelige området i flex-containeren */
}

/* WIDE SCREEN - Skalering for stor skjerm */
@media (min-width: 1800px) {
  .inner-columns {
    height: fit-content;
  }

  /* Tilpasser bredden på hovedinnholdet */
  .container {
    display: grid;
    grid-template-rows: minmax(300px, auto);
    grid-template-columns: 1fr minmax(35%, 1fr) minmax(35%, 1fr) 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }

  /* Justerer bildet av skissen på Accessibility som blir for stort på wide screen */
  #skisse {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 1300px) {
  .vertical-line {
    display: none; /* Skjuler vertikale linjer når skjermbredden er 1300 piksler eller smalere */
  }
}

/* MOBILE VIEW - Skalering for liten skjerm */
@media (max-width: 800px) {
  /* Header */
  /* Burger-ikonet */
  .navbar ul.menu {
    display: none; /* Skjuler menyen */
    flex-direction: column;
    gap: 10px; /* Mellomrom mellom lenkene */
    background-color: var(--primary);
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    padding: 10px;
    border: black solid 1.5px; /* Legger på en svart tynn ramme når man trykker på burgeren */
  }

  .navbar ul.menu-activity {
    background-color: var(--activity);
  }

  /* Viser burger-ikonet */
  .burger-menu {
    display: flex;
    float: right; /* Flytter menyen til høyre */
    padding-top: 1.2rem;
  }

  /* Viser menyen når burger-ikonet er trykket på */
  #menu-toggle:checked + .burger-menu + .navbar ul.menu {
    display: flex;
  }

  /* Hovedinnhold */
  * {
    box-sizing: border-box; /* Sikrer at padding og marginer ikke påvirker den totale bredden */
  }

  main {
    margin: 0; /* Nullstiller */
    padding: 0;
    max-width: 100%;
  }

  .container {
    grid-template-columns: 1fr; /* Skalerer ned til én kolonne */
    grid-template-rows: auto;
    max-width: 100%;
    row-gap: 1rem; /* Reduserer luften mellom seksjonene */
    column-gap: 1rem;
  }

  .column-1,
  .column-2 {
    grid-column: 1; /* Hver kolonne tar opp hele bredden */
    padding: 10px; /* Mindre padding for mobil */
  }

  .inner-columns {
    flex-direction: column; /* Setter de indre kolonnene vertikalt over hverandre */
    justify-content: space-around;
    padding: 10px;
  }

  /* Justerer marger og padding for vertikal visning */
  .column {
    margin: 3%;
    padding: 5%;
  }

  #facts {
    flex-direction: row; /* Setter til row slik at faktakolonnene forblir ved siden av hverandre */
  }

  /* Justerer luft mellom faktaene */
  #facts .column {
    gap: 0;
    padding: 0;
    margin: 0;
  }

  #facts li {
    padding: 0;
    font-size: 0.8rem; /* Reduserer skriftstørrelse */
  }

  .full-width {
    grid-column: 1; /* Full bredde */
    padding: 10px;
  }

  .horizontal-line {
    display: none; /* Fjerner den horisontale skillelinjen for små skjermer */
  }

  /* Justeringer for å gjøre tabell responsiv */
  .table-container {
    max-width: 360px; /* Dette sikrer scroll-funksjon på tabellene på mindre skjermer med ca. 400 px bredde, og hindrer overflow */
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 600px; /* Sikrer scroll-funksjon */
  }

  /* Mindre tekst og padding i tabell */
  th,
  td {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  /* Index.html */

  .card h3 {
    height: 55px;
  }

  /* Index.html */

  .card h3 {
    height: 55px;
  }

  /* github.html - skalering */
  /* Fjerner margin i x-aksen */
  .github-body {
    margin: 4rem 0rem;
  }

  /* Gjør sånn at boksene kommer unnder hverandre */
  .flex-container {
    flex-direction: column;
  }

  /* Gjør sånn at boksene passer skjermen */
  .github-text-box {
    width: auto;
  }

  /* Endrer størrelse på bilder, samt midtstiller */
  .flex-container img {
    width: 70%;
    margin: 2rem auto;
  }

  .github-text-box-cont {
    padding: 0;
    width: 70%; /* Setter bredden til 70% av det tilgjengelige området */
  }

  .github-img {
    width: 70%; /* Setter bredden på bildet til 70% av det tilgjengelige området */
  }

  /* activity.html - skalering*/
  .activity-article h1 {
    font-size: 2rem; /* Endrer skriftstørrelsen til 2 rem ved skalering */
  }

  .activity-article p {
    padding: 1rem 0;
    max-width: 80rem; /* Beholder maksimal bredde på avsnittet til 80 rem */
  }

  .activity-box {
    max-width: 100vw; /* Setter maksimal bredde på boksen til 100% av viewport-bredden */
  }

  /* Footer - skalering */
  .footer-wrapper {
    flex-direction: column; /* Setter immholdet under hverandre ved skalering */
  }

  .footer-social-contact-section {
    text-align: center; /* Sentrerer tekst-innholdet i footer */
  }

  .footer-social-media {
    padding-top: 8px; /* Lager rom mellom ikoner og adresse */
  }
}
